 @font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

@font-face {
    font-family: "Thin";
    src: local("Poppins-Thin"),
        url("../../assets/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Li";
    src: local("Poppins-Light"),
        url("../../assets/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: local("popbold"),
        url("../../assets/popbold.ttf") format("truetype");
}
#spotimagebut2 {
    cursor: pointer;
    width: 20vw;
    height: 3vw;
    font-family: 'Bold';
    font-size: 1.4vw;
    color: white;
    background-color: #FF385C;
    border-radius: 2vw;
    border: none;
    margin-bottom: 1.5vw;

}
.false2 {
    background-color: rgb(31, 90, 9);
}
.true2 {
    background-color: rgb(198, 15, 15);
}
.false1 {
    color: rgb(31, 90, 9);
}
.true1 {
    color: rgb(198, 15, 15);
}
#setprevheader p {
    margin-top: 0px;
    margin-bottom: 0px;
}
#setprevheader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.4vw;
}
#previmgwrap1{
    font-family: 'Bold';
    font-size: 1.4vw;
    margin-top: 2vw;
    width: 45%;
    text-align: center;
}

#previmgwrap2{
    font-size: 1.4vw;
    font-family: 'Bold';
    margin-top: 2vw;
    width: 45%;
    text-align: center;
}

#createheadertext.spotimagesubhead {
    width: 85%;
}
#createheadersub.spotimagehead {
    border-bottom: 1px solid black;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    text-align: center;
}
#setprevbut {
    font-size: 1vw;
    border: none;
    width: 10vw;
    cursor: pointer; 
    color: white;
    height: 2vw;
    border-radius: .5vw;
    margin-right: 4vw;

}

#seturlbutt {
    cursor: pointer;
    width: 16vw;
    height: 2vw;
    padding-left: 1vw;
    border-radius: .5vw;
    font-size: 1.2vw;
}

#createimagebutts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 85%;
    margin-top: 1vw;
    margin-bottom: 1vw;

}
#spotimagesub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vw;
}
#createpreviewcont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    box-sizing: border-box;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 35vw;
    width: 50vw;
}


#spotimageform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 43vw;
    width: 50vw;
    cursor: default;
    /* padding: 1vw; */
}
#currnew {
    height: 20vw;
    width: 20vw;
    border-radius: 2vw;
    border: .5px solid black;
}
#currprev {
    height: 20vw;
    width: 20vw;
    border-radius: 2vw;
    border: .5px solid black;

}
/*
#spotimagebut2:hover {
    background-color: #f42248;
}

#spotimagebut2 {
    background-color: #FF385C;
    border: none;
    font-family: 'Li';
    color: white;
    border-radius: 3em;
    cursor: pointer;
    margin-bottom: 1em;
}

.currentspotimage {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: fit-content;
    margin-bottom: 1vw;
    margin: 1em;
    align-items: center;

}

#spotimagebut:hover {
    background-color: #f42248;
}

#spotimagebut {
    background-color: #FF385C;
    border: none;
    font-family: 'Li';
    color: white;
    border-radius: 2em;
    cursor: pointer;
    font-size: .7em;
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    width: max-content;
}

#spotimageform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    cursor: default;
}

#spotimageformcont1>label input {
    width: 100%;
}

#spotimageformcont1 {
    width: 35vw;
}

#spotimageheader1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 1em;
    font-family: 'Bold';
    /* margin-bottom: em; */
    /* width: 100%; */
/* } */

/* #spotimageexitbutt1 {

    cursor: pointer;
}

#imagesubmitbutton {
    margin-bottom: 1em;

} */

/* #urltextheader1 {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #f7f7f7;
    width: 100%;
    /* border-top: 2px solid #e6e6e6; */
    /* margin-top: 1em;
    text-align: center;
    font-family: 'Li';
    padding-top: 1em;
    padding-bottom: 1em;  */

/*} */