.mainContent {

    margin-top: em;
}

@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

.mainContent {
    font-family: 'Light';
    /* display: 'inline-flex'; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* width: '100vw';
    height: '80vh'; */
    /* justify-content: 'space-around'; */
    /* flex-basis: '25%'; */
    /* flex-flow: row wrap; */
    /* align-items: stretch; */
}

.mainContent>.spotcard.wholething {

    /* flex-grow: 1; */
}

/* .maindisplay>* {
    max-height: 200px;
    max-width: 200px;

} */