.mainContent {

    margin-top: em;
}

@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

.mainContent {
    font-family: 'Light';
}