@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

#delrevwrap {
    width: 100%;
    padding: 1vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#deleteheader {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin-right: 2em;
    padding-top: 1em;
}

#deletespot {
    margin-bottom: 0;
    font-family: 'Bold';
    width: 30vw;
    display: flex;
    flex-direction: column;
    /* justify-content: middle; */
    align-items: center;
    height: 13vw;
    letter-spacing: .05em;
    padding-bottom: 1vw
}

#delexitbutt {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
#deletebuttsubmit {
    background-color: #ffffff;
    border-radius: 1em;
    color: rgb(0, 0, 0);
    border: 1px solid;
    /* height: 2em; */
    margin-bottom: 1.5em;
}

#deletespotform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #f7f7f7;
    padding-bottom: 1em;

}
#deletereview {
    width: fit-content;
    margin: 0px;
    font-size: 1vw;
}
#deletereview:hover {
    font-family: 'Bold';
}

#deleteerror {
    height: 2vw;
    margin: 0
}

/* 
.deletebutt {
    width: 0%;
} */