.blowrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

/* .blockcol {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
} */

.inputsubmitsquare {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vw;
    width: 100%;
}
.blockrow.blockcol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    margin: 0;

}

.blockcol.blockcoltop {
    height: 50%;
    width: 100%;
}

.blockcol.blockcolbottom {
    height: 50%;
    width: 100%;
}