@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../../assets/earthrnrCerealLight.ttf") format("truetype");
}

@font-face {
    font-family: "Thin";
    src: local("Poppins-Thin"),
        url("../../../assets/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Li";
    src: local("Poppins-Light"),
        url("../../../assets/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: local("popbold"),
        url("../../../assets/popbold.ttf") format("truetype");
}

#probutt {
    cursor: pointer;
}

#ddline {
    border-bottom: .2px solid rgb(211, 211, 211);
    width: 100%;
    max-height: 1vw;
    padding-top: 0px;
    line-height: 1px;
    display: flex;
    margin-bottom: .5vw;
}

#signupdrop {
    margin-top: .5vw;
}

/* .profile-dropdown.ddprofile>*:hover {
    /* width: 200%; */
/* width: 100%; */
/* border-bottom: 1px solid #f7f7f7; */
/* border: none; */
/*background-color: rgb(245, 245, 245);} */



#ddloggedin button {
    text-align: center;
    font-family: "Bold";
}

#ddloggedin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-dropdown.ddprofile>* {
    padding: .51em;
}

.profile-dropdown.ddprofile {
    /* box-shadow: 0px 2px 5px 2px #b9b9b9a5; */
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-right: 7.5em;
    box-shadow: 0px 2px 5px 2px #b9b9b9a5;
    border: none;
    border-radius: .7em;
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    height: min-content;

}

.dropbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* #topright {
display: flex;
justify-content: space-between;
} */




#ddcurrentpage {
    margin-top: 1em;
    width: 100%;
    font-family: "Bold";
    padding: 0;
    font-size: .7em;

}

#ddemail {
    width: 100%;
    font-size: .6em;
    font-family: "Li";
    line-height: .5em;
    cursor: default;
}

#ddusername {
    width: 100%;
    font-size: .7em;
    font-family: "Li";
    cursor: default;

}

#ddname {
    width: 100%;
    font-family: "Bold";
    padding: 0;
    cursor: default;


}

#ddcurrentbutt.ddprofile:hover {
    background-color: rgb(245, 245, 245);
}

#ddcurrentbutt.ddprofile {
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

#ddcurrentcont.ddprofile {
    width: 100%;
    height: 1.5em;
    padding: 0;

    /* padding-bottom: .5em; */
}

#borderbegone.ddlogout:hover {
    background-color: rgb(245, 245, 245);
}

#borderbegone.ddlogout {
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Thin';
}

#hovercome.ddlogout {
    width: 100%;
    height: 1.5em;
    cursor: pointer;
    padding: 0;
    padding-bottom: .5em;

}

#dddemo:hover {
    background-color: rgb(245, 245, 245);
}

#dddemo {
    width: 100%;
}

#signupdrop {
    width: 100%;
}

#helpdrop {
    /* margin-bottom: .35vw; */
    width: 100%;
    height: 100%;
    margin-bottom: .5vw;
}


#helpdrop:hover {
    background-color: rgb(245, 245, 245);
}

#logindrop.bottomlogindrop {
    margin-bottom: 10vw;
    width: 100%;
    /* height: ; */
}

#logindrop {
    width: 100%;
    margin: 0;
}

#logindrop:hover {
    background-color: rgb(245, 245, 245);
}

#signupdrop:hover {
    background-color: rgb(245, 245, 245);
}

#needmoney:last-of-type button:hover {
    background-color: rgb(245, 245, 245);

}

#needmoney:last-of-type button {
    width: 100%;
    margin: 0;
}

#needmoney {
    padding: 0;
    overflow: hidden;
}


#signupdrop {
    font-family: 'Bold';
}





#needmoney {
    margin-right: 0;
}



.dropbarformat {
    display: flex;
    font-size: 1.2em;
    align-items: center;
    /* width: max-content; */
    flex-flow: column;
    overflow-y: visible;
    position: static;
    /* flex-direction: column; */
}

.profilebutt {
    background-color: white;
    border: none;
    /* margin-right: 1em; */
    /* margin-bottom: ; */
    box-sizing: border-box;
    object-fit: contain;
}

.profile-dropdown button:hover {
    border-color: #f3f3f3;

}

.profile-dropdown button {
    background-color: white;
    border-color: white;
    box-shadow: none;
    text-align: left;
    font-family: "Li";
    border: 2px solid #fdfdfd;
    /* margin-top: 1em; */
}




#dropdowncont {
    background-color: white;
    line-height: 2em;
}