



.react-calendar__navigation__arrow{
    display: none;
}
/* .react-calendar__navigation__label { */
    /* display: block; */
    /* width: 50%; */
/* width: 1vw; */
.react-calendar__navigation>* {
    background-color: white;
    border: none;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-family: 'Light';
}
.react-calendar__navigation {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    align-items: center;
}