@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

@font-face {
    font-family: "Thin";
    src: local("Poppins-Thin"),
        url("../../assets/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Li";
    src: local("Poppins-Light"),
        url("../../assets/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: local("popbold"),
        url("../../assets/popbold.ttf") format("truetype");
}

#onespotstate {
   font-family: 'Li';
}

#onespotcity {
    margin-right: .2em;
    word-spacing: .2em;

}

#onespotcont {
    width: 100vw;
    /* margin: 0; */
}

#spotimg1 {
    /* margin-left: .5em; */
    /* margin-bottom: .5em; */
    /* height: 50%; */
    width: 45%;
    height: 45%;
}

#spotimg2 {
    /* margin-left: .5em; */
    /* margin-bottom: .5em; */
    width: 45%;
    height: 45%;
}

#spotimg3 {
    /* margin-left: .5em; */
    width: 45%;
    height: 45%;

}

#spotimg4 {

    /* margin-left: .5em; */
    width: 45%;
    height: 45%;

}

#onespotsmall {
    display: flex;
    flex-wrap: wrap;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    width: 40vw;
    height: 30vw;
    /* padding: 1em; */
}

#onespotpreview {
    height: 50vw;
    width: 40vw;
    
    /* padding: 1em; */
    border-top-left-radius: 1em;
    /* border-top-right-radius: 3em; */
    /* border-bottom-right-radius: 3em; */
    border-bottom-left-radius: 1em;
}


.locationinfo {
    font-family: 'bold';
    padding-top: 2em;

}

#onespotpics {
    /* width: 100vw; */
    flex-direction: row;
    height: 50vw;
    margin: 0;
    margin-bottom: 3em;
}





#onespotheader {
    /* width: 60vw; */
    font-size: 1.4em;
    justify-content: space-around;
    margin-top: .5em;
    margin-bottom: .2em;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */

}

#onespotsubheader {
    width: 100vw;
    font-size: 1em;
    justify-content: space-evenly;
    display: flex;
    height: 1em;
    margin-bottom: 1em;
}

#onespotowner {
    text-decoration: underline;
}

#onespotreviews>text {
    font-family: 'Li';
    margin-left: .5em;
    /* padding-left: .6em; */
}

#onespotsubheader>* {
    /* width: fit-content; */
    display: flex;
    font-family: 'Bold';

}

#rat {
    display: flex;
    /* /* font-size: 1em; */
    height: 1em;
    font-size: 3em;
    width: 30vw;
    vertical-align: text-bottom;
    /* padding-bottom: 2em; */
    align-items: center
        /* vertical-align: middle; */
        /* align-items: center; */
}

#rat {
    font-size: 90%;
    align-items: baseline;
}