@keyframes marquee {
    from {
        top: -200%;
    }

    to {
        top: 10%;
    }
}






#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.744);

}

#modal-content {
    /* transform: perspective(130px); */
    animation: marquee 400ms linear;

    position: absolute;
    background-color: white;
    border-radius: 1em;

}