@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

#createheader3 {
    width: 60%;
    border-bottom: none;
    /* margin-right: 5em; */
    display: flex;
    margin-left: 1em;
    justify-content: space-between;
    padding-bottom: 1em;
}

#signupmainheader {
    cursor: default;
}

#reviewtextlabel {
    font-family: 'Li';
    font-weight: 1em;
    /* text-decoration: ; */

}

#errorscreaterev {
    height: .5em;
    margin: 0;
}

#ratingdesc {
    height: 3vw;
    font-family: 'Li';
    /* margin-bottom: hevw; */
}

#createrevbutton:hover {
    background-color: #f7f7f7;
    border-radius: 2em;
}



#reviewtextinput {
    height: 5vw;
    width: 80%;
    resize: none;
    margin-top: .5em;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

#reviewtextlabel {
    width: 100%;
    height: 100vw;
}

#reviewtext {
    width: 100%;

}

#spreadreview p {
    font-family: 'Bold';
    margin: 0;
    margin-left: 1em;
}

#spreadreview>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: flex-start;
    align-items: center;
    height: 5vw;
    font-family: 'Bold';
    font-size: .97vw;
}

#reviewtotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 4vw;
    margin-bottom: 2.5vw;
    margin-top: 1vw;
}

/* #reviewtopc {
    margin-top: 1.5vw;
} */
#spreadreview input::-webkit-slider-thumb {
    width: 2vw;
    -webkit-appearance: none;
    height: 2vw;
    cursor: ew-resize;
    /* background: #ff385c; */
    border: .52px solid black;
    background-image: url('https://image.shutterstock.com/image-vector/black-star-vector-icon-260nw-221796499.jpg');
    background-size: cover;
    border-radius: 50%;
}

#spreadreview input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}

#spreadreview input {
    display: flex;
    background-color: #ff385c;
    -webkit-appearance: none;
    border: 1px solid #ff385c;
    height: .1px;
    justify-self: center;
    width: 80%;
}

#spreadreview {
    width: 30vw;
    display: flex;
    height: 3vw;
    justify-content: center;
    /* padding-top: 1em; */
    align-items: safe center;
    margin-top: 1vw;
}

#ratestay {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    width: 100%;
    justify-content: center;
    align-items: center;


}

#ratestay label div {
    width: 100%;
    margin-bottom: .5em;

}

#ratestay label {
    width: 100%;
    margin-bottom: .5em;
}


#createreviewform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 45vw;
    /* height: vw; */
    overflow: hidden;
}

#createreviewbutt:hover {
    background-color: #e2153b;
    /* text-decoration: none; */
    /* font-family: 'Bold'; */
    /* height: 2em; */
    /* width: fit-content; */
}

#createreviewbutt>* {
    margin-top: none;
}

#createreviewbutt {
    /* margin-top: ; */
    width: fit-content;
    border: none;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    padding: .5em;
    background-color: #ffa9b9;
    border-radius: .7em;
    box-sizing: border-box;
    align-items: flex-start;
    color: white;
    /* margin-top: 1em; */
    cursor: pointer;
}