@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

@font-face {
    font-family: "Thin";
    src: local("Poppins-Thin"),
        url("../../assets/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Li";
    src: local("Poppins-Light"),
        url("../../assets/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: local("popbold"),
        url("../../assets/popbold.ttf") format("truetype");
}
#homepagesticky {
    font-family: "Light";
  display: flex;
  position: fixed;
  justify-content: space-around;
  /* justify-content: flex-start; */
  /* justify-content: space-around; */
  background-color: white;
  border-bottom: .8525px solid #d6d6d6;
  width: 100%;
  align-self: flex-start;
  margin-top: .8525px;
  /* justify-self: flex-start; */
  box-shadow: 0 1px 3px 0 rgba(171, 171, 171, 0.2), 0 1px 3px 0 rgba(183, 183, 183, 0.19);

  height: 5.6vw;
  border-bottom-style: ridge;
}
.editbuttspotcard {
    margin-right: 1vw;
}

.inforightstar {
    font-family: 'Li';
    height: .9vw;
    font-size: 1vw;
    padding-right: .32vw;
    /* vertical-align: middle; */
    /* align-items: center; */
}

.infostarimage {
    height: 90%;
    padding-right: .21vw;

}

.spotinforight {
    display: flex;
    flex-direction: column;
    font-family: 'Light';
    height: 80%;
    justify-content: space-between;
}


.smallerinfotext {
    font-size: .92vw;
    font-family: 'Li';
    margin: 0;
    padding-left: .12vw;
}

.smallerinfotext:last-child {
    margin-bottom: .25em;
}

.spotinfoleft span {
    font-family: 'Light';
    font-size: 1vw;

}

.spotinfoleft p {
    margin: 0;
    line-height: 1.25vw;
    /* text-align: center; */
    vertical-align: middle;
    /* font-size: 1vw; */
    /* padding-left: .51em; */

}

.spotinfoleft {
    font-family: 'Thin';
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: .21em;
}

.priceper.pricenight p {
    display: flex;
    font-family: 'Li';
    margin: 0;
    width: 4vw;
    height: 1vw;
    /* text-align: middle;
    vertical-align: middle; */
    padding-left: .7vw;
}

.priceper.pricenight {
    display: flex;
    flex-direction: row;
    font-family: 'Bold';
    width: 70%;
    align-items: center;
}

.spotinfocont {
    display: flex;
    flex-direction: row;
    line-height: 1.75vw;
    height: 8vw;
    width: 100%;
    justify-content: space-between;
    padding-top: .3em;
    font-size: 1.15vw;
    margin-bottom: 1em;
}



.piccontwrap.allimg.previmgwrap {
    display: flex;
    align-items: center;
    /* object-fit: cover; */
    border-radius: 1em;
    cursor: pointer;
    width: 22vw;
    height: 20vw;
    /* height: fit-content; */
}

.spotcard.wholething {
    font-family: 'Bold';
    display: flex;
    flex-direction: column;
    margin: 2.5vw;
    max-width: 23vw;
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center
}

.imgprev.allimg.previmg {
    width: 100%;
    height: 100%;
    border-radius: 7%;
    cursor: pointer;
}

#maindisplay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
}
#maindisplay1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between;
    justify-self: center;
    padding-top: 8vw;
}