@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

@font-face {
    font-family: "Thin";
    src: local("Poppins-Thin"),
        url("../../assets/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Li";
    src: local("Poppins-Light"),
        url("../../assets/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: local("popbold"),
        url("../../assets/popbold.ttf") format("truetype");
}

.onereview.single.one {
    margin-left: 0px;
    cursor: default;
}

.smallheader.current.smallcurrent {
    font-family: 'Li';
    font-size: 2vw;
    text-decoration: none;
}

.current.currentuser {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#yourreviews {
    text-decoration: 1.5px underline rgb(47, 47, 47);
}

#yourspots {
    text-decoration: 1.5px underline rgb(47, 47, 47);
}


#welcome.midheader {
    font-family: 'Thin';
}

#smallheadcurrent {
    width: 100%;
    font-size: 1.9vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Li';
    padding-bottom: 1vw;
    border-bottom: 2px solid #e6e6e6;
}

.currenthead.currentuserheader {
    cursor: default;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
    font-family: 'Bold';
    /* text-decoration: underline; */
}

/* 

#currentcont {
    display: flex;
    flex-direction: column;
   align-items: center;
    width: 100vw;
    text-align: center;
}
h1 {
    margin-bottom: 0;
}
#currentinnercont {
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    /* align-items: center; */
/* }
#myspotsbigcont {
/* text-align: center; */
/* width: 60% ; */

/* } */
#currentcardwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#currentspotcard {
    height: fit-content;
}

#currentbutt:hover {
    font-family: 'Light';
    background-color: #e93b5b;
}

#currentbutt {
    width: 9vw;
    height: 1.84vw;
    background-color: #ff486a;
    border-radius: .7em;
    align-items: flex-start;
    color: white;
    font-family: 'Li';
    border: none;
    cursor: pointer;
    border-radius: 3vw;
    margin-bottom: 1vw;
}

#currentedit {
    display: flex;
    flex-direction: row;
    background-color: white;

    /* width: fit-content; */
    flex-wrap: wrap;
    justify-content: space-around;
}

#currentreviews {
    /* margin-left: 2vw; */
    padding-top: 1.5vw;
    height: 100%;
    width: 37vw;
    border-left: 2px solid #e6e6e6
}

#currentspots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 51vw;
    padding-left: 3vw;
    padding-right: 1.5vw;
    padding-top: 1.5vw;
    justify-content: space-between;
    align-items: flex-start;

}

#currentinnercont {
    /* margin-top: 2vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#currentcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    width: 90vw;
}