@font-face {
  font-family: "Light";
  src: local("earthrnrCerealLight"),
    url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

@font-face {
  font-family: "Thin";
  src: local("Poppins-Thin"),
    url("../../assets/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Li";
  src: local("Poppins-Light"),
    url("../../assets/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("popbold"),
    url("../../assets/popbold.ttf") format("truetype");
}

#checkboxpagi div>input:active,
#checkboxpagi div>input:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#checkboxpagi div>input:checked {
  background-color: #e9ecee;
  border: 2px solid  #f12b50;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

#checkboxpagi div>input {
  
  cursor: pointer;
  -webkit-appearance: none;
  height: 4vw;
  width: 4vw;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
}

#checkboxpagi>div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 6vw;
  cursor: pointer;
  font-size: 1vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#checkboxpagi {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1vw;
}

#minmark {
  border-radius: 50%;
}

h2 {
  margin-bottom: .3em;
  width: 100%;
  border-bottom: 2px solid #e6e6e6;
  text-align: center;
  padding-bottom: .5em;
  font-family: 'Bold';
}

#inputcont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#paginationform {
  width: 50vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow: hidden; */
  /* padding-right: 5vw; */
  cursor: default;
  padding-bottom: 1vw;
  align-items: center;
  font-family: 'Li';

}

ul {
  height: 5px;
  margin: 0;
}

.pagiinput:last-child {
  margin-bottom: 0;
}

.pagiinput {
  cursor: cell;
  width: 15vw
}

.pagiinput::-webkit-outer-spin-button,
.pagiinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

#mincont>div {
  align-items: center;
}

#mincont div>input {
  width: 3vw;
  margin-left: .4vw;
}

#mincont {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#maxcont {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
  width: 100%;
  border-bottom: 1.5px solid #e6e6e6;
  padding-bottom: 1vw;
}