@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("./assets/earthrnrCerealLight.ttf") format("truetype");
}

body {
    margin-top: 0;
}

.photocontainer {
    padding: 2em;
}


.namearea {
    text-align: center;
    margin-top: 0;
    font-family: 'Light';
}

.photo {
    height: 300px;
    width: 300px;
}

#dangerzone {
    margin-top: 4em;
    min-height: 500px;
}