/* #root {
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 100vw;
    margin-right: 10vw;
} */
body {
    margin: 0px;
    justify-content: center;
}
#outter {
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: center;

    width: 100vw;
    padding-top: 6.5vw;
    /* margin-left: 4vw;
    margin-right: 4vw; */
    height: fit-content;
    
}
#hostspotinfo {
    height: fit-content;
}