#reviewname {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Bold';
    padding-left: 1vw;
    font-size: 1.2vw;
}

#revratingimg {
    display: flex;
    flex-direction: column;
    height: 1.75vw;
   align-items: center;
   justify-content: center;
   width: fit-content;
}

#revratingcard {
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-family: 'Bold';
    align-items: center;
    text-align: center;
}


#cardreviewbot {
    font-family: 'Li';
    font-size: 1.2vw;
}

#bottomhalf {
    padding-top: 1vw;

}

#hostpicture>img {
    height: 4vw;
    width: 4vw;
    border: 1px solid black;
    border-radius: 50%;
    box-sizing: content-box;
    object-fit: cover;
}

#hostpicture {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
}

#spotgotobutt {
   font-size: 1vw; 
}
#headerright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

}

#onespotreviewheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.onereview.single.one {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 10vw;
    margin-left: 5em;
    padding: 1em;
}