@font-face {
  font-family: "Light";
  src: local("earthrnrCerealLight"),
    url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

.photocontainer {
  justify-content: center;
}

.profile-dropdown div button:hover {
  filter: invert(100%);
  border-color: rgb(246, 244, 244);

}

.profile-dropdown div:first-child {
  border-top-left-radius: 1.7em;
  border-top-right-radius: 1.6em;
  /* position: absolute; */
  /* background-color: aliceblue; */
}

.logoutbutt:hover {
  background-color: rgb(17, 15, 15);
  border-radius: '2em';
}

.profile-dropdown div:last-child {
  margin-bottom: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding-bottom: 1em;
  /* position: absolute; */
  /* text-shadow: rgb(58, 159, 67) */
}

.profile-dropdown div button {
  /* background-color: rgba(10, 10, 10, 0.8); */
  background-color: white;
  border-color: white;
  padding: .5em;
  box-shadow: none;
  /* color: #fdfcfd; */
  position: relative;
  text-align: left;

  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.profile-dropdown div {

  display: flex;
  font-size: 1.2em;
  background-color: #ffffff;
  /* padding-bottom: 1em; */
  /* width: 120%; */
  padding: .25em;


}

.profile-dropdown {
  /* overflow-y: visible; */
  /* background-color: black; */
  /* border-style: solid;
  border-width: 5px; */
  top: 4em;
  right: 1em;
  position: absolute;
  text-align: left;
  /* border: 20px, solid, black; */
}

.dropbarformat {
  display: flex;
  font-size: 1.2em;
  align-items: center;
  width: max-content;
  flex-flow: column;
  overflow-y: visible;
  position: static;

}

.topbar {
  font-family: "Light";
  display: flex;
  justify-self: center;
  /* margin: 0, 20%, 0, 20%; */
  position: sticky;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2em;
  padding-top: 1em;
  background-color: white;
  border-bottom: 1px solid #dddddd;
  width: 98vw;
  padding-top: 1.5em;
 

}

.profileshape {
  /* align-items: center; */
  /* align-self: center; */
  /* align-content: center; */
  height: 3em;
  /* vertical-align: central; */
  /* position: absolute; */
  /* position: static; */

}

.homebutt {
  display: flex;
  font-size: 1.2em;
  text-decoration: none;
  align-items: center;
  font-stretch: extra-condensed;
  -webkit-text-fill-color: #ff385c;

  /* vertical-align: top; */
  position: static;


}

.dropbar {
  margin: .25em, 2em, 0;
  width: 10em;
  display: flex;

  /* font-size: 1.2em; */
  /* text-decoration: none; */
  align-items: center;
  justify-content: center;
  /* vertical-align: middle; */
  flex-direction: column;
  /* flex-direction: row; */
  /* justify-self: flex-end */
  /* align-items: baseline; */
}

.profile-dropdown div {
  padding-top: 1em;
  border: 1px;
  border-color: black;
  /* display: flex; */
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
  /* position: absolute; */

}

.profilebutt {
  /* margin-left: .85em; */
  /* border-color: black; */
  background-color: white;
  /* border-radius: 80%; */
  border-color: #ffffff;


}

.profile-dropdown button {
  /* border-radius: 3em; */
  background-color: white;
  border-color: white;
  padding: .5em;
  box-shadow: none;
  text-align: left;
  font-family: "Light";
  border: 2px solid #fdfdfd;
  text-align: left;
  /* padding-left: 1em; */

}

.profile-dropdown button:last-of-type {
  padding-left: 1em;
}

.spotbut {
  font-size: .5em;
  margin-top: 1em;
}

.spotbut {
  font-size: .5em;
  margin-top: 1em;
}

.logoutbutt:hover {
  /* filter: invert(100%); */
  background-color: rgb(204, 204, 204);
}

.lamecss button:hover {
  /* filter: invert(100%); */
  background-color: rgb(176, 176, 176);
}