@font-face {
  font-family: "Light";
  src: local("earthrnrCerealLight"),
    url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

@font-face {
  font-family: "Thin";
  src: local("Poppins-Thin"),
    url("../../assets/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Li";
  src: local("Poppins-Light"),
    url("../../assets/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("popbold"),
    url("../../assets/popbold.ttf") format("truetype");
}

#signupmodalbut {
display: inline-flex;
flex-direction: column;
}
#signupmodalbut {
  /* width: 28em; */
  /* height: 3em; */
  margin-top: 0;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  /* padding-right: 25%; */
  font-family: 'Li';
  /* height: 2em; */
  /* border: 1px solid black; */
  /* padding: 1em; */
  background-color: #fdfbfb;
  border-radius: .5em;
  /* box-sizing: border-box; */
  /* align-items: center; */
  color: rgb(0, 0, 0);
  /* margin: .7em; */

  width: 10vw;
  height: 3.4em;
  font-family: Bold;
  font-size: .7em;
  background-color: white;
  border: none;
  border-radius: 3em; 

}

#signupmodalbut {
  cursor: pointer;
}

#signupmodalbut:hover {
  background-color: rgb(245, 245, 245);

  /* background-color: rgb(189, 21, 21); */


}

.topbar:first-of-type div {
  /* text-decoration-skip: 1; */
  font-family: 'Li';
  /* font-weight: 50%; */
  /* text-size-adjust: 90%; */
  /* font-weight: 200%; */
  color: black;
  font-weight: 120%;
  /* font-size: 120%; */
}

.topbar:last-of-type button {

  font-family: 'Thin';
  color: rgb(102, 102, 102);
}


.photocontainer {
  justify-content: center;
}




.logoutbutt:hover {
  /* background-color: rgb(217, 217, 217); */
  /* border-radius: '2em'; */
}

.logoutbutt button {
  border-color: rgb(248, 13, 13);
  cursor: pointer;
}




.dropbarformat {
  display: flex;
  font-size: 1.2em;
  align-items: center;
  width: max-content;
  flex-flow: column;
  overflow-y: visible;
  position: static;
  /* z-index: -1; */

}

.profileshape {
  /* align-items: center; */
  /* align-self: center; */
  /* align-content: center; */
  height: 3em;
  /* vertical-align: central; */
  /* position: absolute; */
  /* position: static; */

}

.homebutt {
  display: flex;
  font-size: 1.2em;
  text-decoration: none;
  align-items: center;
  font-stretch: extra-condensed;
  -webkit-text-fill-color: #ff385c;

  /* vertical-align: top; */
  position: static;


}

.dropbar {
  /* margin: .25em, 2em, 0; */
  /* width: 10em; */
  display: flex;

  /* font-size: 1.2em; */
  /* text-decoration: none; */
  align-items: center;
  justify-content: center;
  /* vertical-align: middle; */
  flex-direction: column;
  /* flex-direction: row; */
  /* justify-self: flex-end */
  /* align-items: baseline; */
}

.profile-dropdown div {
  /* padding-top: 1em; */
  border: 1px;
  border-color: black;
  /* display: flex; */
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
  /* position: absolute; */

}

.profilebutt {
  /* margin-left: .85em; */
  /* border-color: black; */
  background-color: white;
  /* border-radius: 80%; */
  border-color: #ffffff;


}

.profile-dropdown button {
  /* border-radius: 3em; */
  background-color: white;
  border-color: white;
  padding: .5em;
  box-shadow: none;
  text-align: left;
  font-family: "Light";
  border: 2px solid #fdfdfd;
  text-align: left;
  /* padding-left: 1em; */

}

.profile-dropdown button:last-of-type {
  padding-left: 1em;
}

.spotbut {
  font-size: .5em;
  margin-top: 1em;
}

.spotbut {
  font-size: .5em;
  margin-top: 1em;
}

.logoutbutt:hover {
  /* filter: invert(100%); */
  border-color: rgb(204, 204, 204);

}



#topmid>* {
  background-color: white;
  width: 10vw;
  height: 3vw;
  /* border: 1px black solid; */
  vertical-align: middle;
  border: none;
  cursor: pointer;
}

#statesearch {
  height: 1.5vw;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  padding-top: .3em;
}

#topmid {
  /* height: 2em; */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  /* border: 1px rgb(104, 104, 104) solid; */
  /* padding-bottom: 1em; */
  cursor: pointer;
  border: 1px solid #dddddd;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  align-items: center;
  box-shadow: 2px 2px 2px #dddddd;
}

#topmid img {
  height: 2.5vw;
  width: 2.5vw;

}

.topbar {
  font-family: "Light";
  display: flex;
  justify-self: center;
  /* margin: 0, 20%, 0, 20%; */
  position: sticky;
  justify-content: space-between;
  align-items: flex-start;
  /* padding-left: 2em; */
  /* padding-top: .5em; */
  background-color: white;
  border-bottom: 1px solid #dddddd;
  width: 100vw;
  /* padding: 1em; */
  /* padding-top: .5em; */
  /* vertical-align: bottom; */
  align-items: center;

}