@font-face {
  font-family: "Light";
  src: local("earthrnrCerealLight"),
    url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

@font-face {
  font-family: "Thin";
  src: local("Poppins-Thin"),
    url("../../assets/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Li";
  src: local("Poppins-Light"),
    url("../../assets/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("popbold"),
    url("../../assets/popbold.ttf") format("truetype");
}

.starspot {
  margin-bottom: 0;
}

#homebutt {
  display: flex;
  align-items: center;
  color: #FF385c;
  width: fit-content;
}

#topleft {
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  cursor: pointer;
}

#navlogo {
  margin-right: .21em;
  height: 3vw;
  cursor: pointer;
}

#signupmodalbut:hover {
  background-color: rgb(245, 245, 245);

}

.photocontainer {
  justify-content: center;
}


.homebutt {
  display: flex;
  font-size: 1.2em;
  text-decoration: none;
  align-items: center;
  font-stretch: extra-condensed;
  -webkit-text-fill-color: #ff385c;

  /* vertical-align: top; */
  /* position: static; */
}

#spotglassimg {
  display: flex;
  vertical-align: middle;
  background-color: white;
  height: 85%;
  box-sizing: border-box;
  object-fit: fill;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
}

#paginationbut {
  width: 82%;
  height: 100%;
  background-color: white;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border: none;
  text-align: start;
  padding-left: 2em;
  font-family: 'Li';
  
  /* font-weight: 1; */
  cursor: pointer;
}

#paginationbut2 {
  /* width: 18%; */
  height: 100%;
  background-color: white;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
  border: none;
  background-color: white;
  height: 100%;
  cursor: pointer;
}

#topmid {
  height: 50%;
  width: 20.75vw;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  cursor: pointer;
  border: 1px solid #ececec;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  /* box-shadow: 3px 3px 3px #f7f7f7; */
  box-shadow: 0 1px 3px 0 rgba(171, 171, 171, 0.2), 0 1px 3px 0 rgba(183, 183, 183, 0.19);

}


#topright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 20vw;
}



#navbarprofile {
  height: 4vw;
  width: fit-content;
  box-sizing: border-box;
  object-fit: fill;
}

#profileshape {
  height: 2.63vw;
  /* width: 3; */
  box-sizing: border-box;
  object-fit: contain;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}

#profileshape:hover {
 
    cursor: pointer;
  
  
  box-shadow: 0 1px 3px 0 rgba(171, 171, 171, 0.2), 0 1px 3px 0 rgba(183, 183, 183, 0.19);
}


#globebut {
  cursor: pointer;
  width: 2.63vw;
  height: 2.63vw;
  border-radius: 50%;
  vertical-align: middle;
  padding: .2em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;

}

#globebut:hover {
  background-color: #f7f7f7;

}

#navbarglobe {
  height: 45%;

}

#navbarglobe:hover {
  background-color: #f7f7f7;

}

#createswitching {
  cursor: pointer;
  width: fit-content;
  padding: .75em;
  height: 3vw;
  border: none;
  background-color: white;
  border-radius: 2em;
  letter-spacing: 5.5;
  /* letter-spacing: .0425vw; */
}

#signswitching:hover {
  background-color: #f7f7f7;
}

#createswitching:hover {
  background-color: #f7f7f7;
}

#signswitching {
  cursor: pointer;
  padding-left: 10vw;
  width: fit-content;
  height: 3vw;
  padding: .75em;
  border: none;
  background-color: white;
  border-radius: 2em;
  letter-spacing: 5.5;

}

#topbar {
  font-family: "Light";
  display: flex;
  position: fixed;
  margin-bottom: 1vw;
  justify-content: space-around;
  background-color: white;
  /* justify-self: flex-start; */
  border-bottom: .525px solid #d6d6d6;
  width: 100%;
  height: 5.5vw;
  border-bottom-style: ridge;
  margin-top: 0px;
  /* margin-right: 10vw; */
  /* align-items: center; */
  /* align-self: flex-start; */
  z-index: 1;
}