@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

#fanbutts p {
    justify-content: center;
    /* margin: 100em; */

}

#loginsubmitbutton {
    cursor: pointer;
}
.fangbutts.fangbutt.fang {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vw;
    width: 35vw;
    height: 5vw;
    align-items: center;
    cursor: pointer;
}
#fangcont> div {
    /* width: 35vw; */
    /* height: 5vw; */
    /* margin-top: 1vw; */
    /* align-items: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* cursor: pointer;/ */
    /* justify-content: space-between; */
    /* padding-right: 25%; */
    /* font-family: 'Li'; */
    border: 1px solid black;
    /* padding: 1em; */
    padding-left: 5vw;
    padding-right: 5vw;
     background-color: #fdfbfb;
    border-radius: .5em; 
    /* box-sizing: border-box; */
    /* color: rgb(0, 0, 0); */
}
#fangcont>*:hover { 
    background-color: rgb(245, 245, 245);

}
#loginheader {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-right: 40%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #e6e6e6;


}

#loginheader:first-of-type div div {
    padding-right: 4em;
    cursor: pointer;
    font-family: 'Li';
}


#loginform h3 {
    padding-top: .2em;
    padding-bottom: .2em;

    margin-right: 47%;
    font-family: 'Li';
}
.greylines {
    width: 20vw;
    height: 1px;
    line-height: .1;
    border-bottom: 2px solid #e6e6e6;
    margin: 1vw;
}
#loginmiddle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#loginform .loginlabel:first-of-type input {
    box-sizing: border-box;
    align-items: center;
    padding: 1vw;
    border-top-left-radius: .87vw;
    border-top-right-radius: .87vw;
    margin-top: 1.2em;
    width: 35vw;
    border: 1.5px solid #ababab;

}

#loginform .loginlabel:last-of-type input {
    width: 35vw;
    border: 1.5px solid #ababab;
    border-bottom-right-radius: .7em;
    border-bottom-left-radius: .7em;
    box-sizing: border-box;
    align-items: center;
    padding: 1em;
    border-top: none;
    margin-bottom: 2em;
}

#loginsubmitbutton {
    width: 35vw;
    border: none;
    padding: 1em;
    background-color: #ff385c;
    border-radius: .7em;
    box-sizing: border-box;
    align-items: center;
    color: white;
}
#loginsubmitbutton:hover {
    /* border: black .5px solid; */
    background-color: #f12b50;

}

#loginform:first-of-type span {
    font-size: .5em;
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loginform input {
    /* align-self: center; */
    box-sizing: border-box;
    align-items: center;
    line-height: 2em;
    border-radius: 1em;
    width: 27em;
    text-indent: 1em;

}

.fangbutts:first-of-type img {
    height: 4vw;
    width: 4vw;
    padding-left: 1vw;
    /* margin-bottom: 10em; */
    /* padding-bottom: 10em; */
    /* margin-bottom: em; */
    vertical-align: middle;
}
.fangbutts img {
    height: 3vw;
    width: 6vw;
}
/* .fangbutts img { */
/* justify-content: center; */

/* } */



/* .modalheader */


/* 
.loginheader button {
    background-color: white;
    border: none;
    margin-right: 2em;
    padding-right: 12em;
} */
/* #loginmodalbutton {
    border: 0px solid white
} */


#loginexitbutt button {
    /* display: inline-flex; */
    background-color: white;
    border: none;
}

/* #login>* {
    padding: 2em;
} */


#loginform {
    font-family: "Light";
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* border-color: black; */
    width: 50vw;
    /* overflow: hidden; */
    /* height: fit-content; */
    margin-bottom: 1em;
}