@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

#fanbutts p {
    justify-content: center;
    /* margin: 100em; */

}

#loginsubmitbutton {
    cursor: pointer;
}

#fangcont>* {
    width: 28em;
    height: 3em;
    margin-top: 0;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    justify-content: space-between;
    padding-right: 25%;
    font-family: 'Li';
    /* height: 2em; */
    /* border: 1px solid black; */
    /* padding: 1em; */
    background-color: #fdfbfb;
    border-radius: .5em;
    /* box-sizing: border-box; */
    /* align-items: center; */
    color: rgb(0, 0, 0);
    /* margin: .7em; */

}
#fangcont>*:hover { 
    background-color: rgb(245, 245, 245);

}
#loginheader {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-right: 40%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #e6e6e6;


}

#loginheader:first-of-type div div {
    padding-right: 4em;
    cursor: pointer;
    font-family: 'Li';
}


#loginform h3 {
    padding-top: .2em;
    padding-bottom: .2em;

    margin-right: 47%;
    font-family: 'Li';
}

#loginform .loginlabel:first-of-type input {
    box-sizing: border-box;
    align-items: center;
    padding: 1em;
    border-top-left-radius: .7em;
    border-top-right-radius: .7em;
    margin-top: 1.2em;
    width: 32em;
    border: 1.5px solid #ababab;

}

#loginform .loginlabel:last-of-type input {
    width: 32em;
    border: 1.5px solid #ababab;
    border-bottom-right-radius: .7em;
    border-bottom-left-radius: .7em;
    box-sizing: border-box;
    align-items: center;
    padding: 1em;
    border-top: none;
    margin-bottom: 2em;
}

#loginsubmitbutton {
    width: 32em;
    border: none;
    padding: 1em;
    background-color: #ff385c;
    border-radius: .7em;
    box-sizing: border-box;
    align-items: center;
    color: white;
}
#loginsubmitbutton:hover {
    /* border: black .5px solid; */
    background-color: #f12b50;

}

#loginform:first-of-type span {
    font-size: .5em;
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#loginform:first-of-type span>div {
    border-top: 1px solid rgb(220, 220, 220);
    width: 20vh;
    margin: 1.9em;
    /* height: 30% */
}

#loginform:first-of-type span>p {
    margin-left: 3em;
    margin-right: 3em;

}

.loginform input {
    /* align-self: center; */
    box-sizing: border-box;
    align-items: center;
    line-height: 2em;
    border-radius: 1em;
    width: 27em;
    text-indent: 1em;

}

.fangbutts img {
    height: 1.5em;
    /* margin-bottom: 10em; */
    /* padding-bottom: 10em; */
    /* margin-bottom: em; */
    vertical-align: middle;
}

/* .fangbutts img { */
/* justify-content: center; */

/* } */

.fangbutts {
    width: 27em;
    height: 2em;
    border: 1px solid black;
    padding: 1em;
    background-color: #fdfbfb;
    border-radius: .7em;
    box-sizing: border-box;
    align-items: center;
    color: white;
    margin: .7em;

}

/* .modalheader */


/* 
.loginheader button {
    background-color: white;
    border: none;
    margin-right: 2em;
    padding-right: 12em;
} */
/* #loginmodalbutton {
    border: 0px solid white
} */


#loginexitbutt button {
    /* display: inline-flex; */
    background-color: white;
    border: none;
}

/* #login>* {
    padding: 2em;
} */


#loginform {
    font-family: "Light";
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    border-color: black;
    width: 30em;
    overflow: hidden;
    height: fit-content;
    margin-bottom: 1em;
}