@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

#createheader3 {
   width: 60%;
   border-bottom: none;
   /* margin-right: 5em; */
    display: flex;
    margin-left: 1em;
    justify-content: space-between;
    padding-bottom: 1em;
}
#signupmainheader {
    cursor: default;
}
/* 

#createreviewform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30vw;
    
} */




/* #ratestay input{
    display: flex;
    justify-content: center;
} */
/* #ratestay div label div{

} */
#reviewtextlabel {
    font-family: 'Li';
    font-weight: 1em;
/* text-decoration: ; */

}
#errorscreaterev {
    height: .5em;
    margin: 0;
}
#ratingdesc {
    font-family: 'Li';
    border-top: 1px solid #dddddd;
    padding-top: 1em;
}

#createrevbutton:hover {
background-color: #dddddd;
border-radius: 2em;
}

#createrevbutton {
    margin-bottom: 1em;
    border: none;
    width: 30%;
    line-height: 2em;
    font-family: 'Bold';
    background-color: white;
    cursor: pointer;
    font-size: 1em;
}
#reviewtextinput {
    height: 5vw;
    width: 80%;
    resize: none;
    margin-top: .5em;
    /* display: flex; */
    /* flex-wrap: wrap; */
}
#reviewtextlabel {
    width: 100%;
    height: 100vw;
}
#reviewtext {
    width: 100%;

}
#spreadreview p {
    font-family: 'Bold';
    margin: 0;
    margin-left: 1em;
}
#spreadreview input::-webkit-slider-thumb {
    width: 2vw;
    -webkit-appearance: none;
    height: 2vw;
    cursor: ew-resize;
    /* background: #ff385c; */
    border: .52px solid black;
    background-image: url('https://image.shutterstock.com/image-vector/black-star-vector-icon-260nw-221796499.jpg');
    background-size: cover;
    border-radius: 50%;
}
#spreadreview input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}
#spreadreview input  {
    display: flex;
    background-color: #ff385c; 
    -webkit-appearance: none;
    border:1px solid #ff385c;
    height: .1px;
    justify-self: center;
}

#spreadreview {
    width: 20vw;
    display: flex;
    height: 3vw;
    justify-content: center;
    padding-top: 1em;
    align-items: safe center;
}

#ratestay {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    width: 100%;
   

}

#ratestay label div {
    width: 100%;
    margin-bottom: .5em;

}

#ratestay label {
    width: 100%;
    margin-bottom: .5em;
}

#createreviewform {
    margin-top: .5em;
    width: 100%;
    /* border-bottom: 1px solid #dddddd; */
    margin-bottom: .5em;

}

#createreviewform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 35vw;
    overflow: hidden;
}

#createreviewbutt:hover {
    background-color: #e8e8e8;
    text-decoration: none;
    font-family: 'Bold';
    height: 2em;
    width: fit-content;
}


#createreviewbutt {
    border: none;
    background-color: white;
    cursor: pointer;
    width: 15vw;
    height: 2em;
    border-radius: 1em;
    text-decoration: underline;
    width: fit-content;
}





